In [1]:
from faker import Faker
fake = Faker("es_ES")  # Datos en español
import random

In [95]:
import sqlite3
connection = sqlite3.connect("../base_de_Datos_2.db")
cursor = connection.cursor()

In [ ]:
from faker import Faker
import pandas as pd

# Crear el generador de datos en español
fake = Faker("es_ES")

# Número de proveedores a generar
num_proveedores = 100

# Crear una lista de diccionarios con los datos de los proveedores
proveedores = []
for _ in range(num_proveedores):
    proveedor = {
        "nombre": fake.company(),
        "direccion": str(fake.address().replace("\n", ", ")),
        "ciudad": fake.city().replace("\n", ", "),
        "provincia": fake.state(),
        "codigo_proveedor": fake.random_int(min=1000, max=9999)
    }
    proveedores.append(proveedor)

# Convertir la lista en un DataFrame de Pandas
df_proveedores = pd.DataFrame(proveedores)
# Mostrar las primeras filas del DataFrame
print(df_proveedores.head())

# Guardar la base de datos en un archivo CSV
df_proveedores.to_csv("./archivos_csv/proveedores.csv", index=False)

                             nombre  \
0    Infraestructuras Ibéricos S.L.
1               Comercial GNGV S.A.
2           Industrias Peralta S.L.
3  Ascensión Andrade Navarrete S.L.
4            Hermanos Soria S.Coop.

                                           direccion    ciudad  provincia  \
0  Pasaje de Rebeca Galvez 32 Piso 7 , Asturias, ...   Melilla  Castellón
1  Alameda de Cecilio Atienza 245 Apt. 59 , Lleid...    Cuenca    Sevilla
2         Ronda de Lino Zorrilla 5, Barcelona, 23134  La Rioja     Málaga
3          Cuesta Isidro Laguna 26, Salamanca, 17962      Jaén  Cantabria
4     Vial Alfredo Boada 8 Piso 4 , Tarragona, 29784    Toledo     Toledo

   codigo_proveedor
0              7232
1              7453
2              5427
3              8436
4              2878

In [89]:
df_proveedores.loc[df_proveedores["codigo_proveedor"].duplicated(), "codigo_proveedor"] = df_proveedores["codigo_proveedor"].max() + 1

In [91]:
df_proveedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nombre            100 non-null    object
 1   direccion         100 non-null    object
 2   ciudad            100 non-null    object
 3   provincia         100 non-null    object
 4   codigo_proveedor  100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [92]:
df_proveedores.head()

,nombre,direccion,ciudad,provincia,codigo_proveedor
0,Infraestructuras Ibéricos S.L.,"Pasaje de Rebeca Galvez 32 Piso 7 , Asturias, ...",Melilla,Castellón,7232
1,Comercial GNGV S.A.,"Alameda de Cecilio Atienza 245 Apt. 59 , Lleid...",Cuenca,Sevilla,7453
2,Industrias Peralta S.L.,"Ronda de Lino Zorrilla 5, Barcelona, 23134",La Rioja,Málaga,5427
3,Ascensión Andrade Navarrete S.L.,"Cuesta Isidro Laguna 26, Salamanca, 17962",Jaén,Cantabria,8436
4,Hermanos Soria S.Coop.,"Vial Alfredo Boada 8 Piso 4 , Tarragona, 29784",Toledo,Toledo,2878

In [97]:
for i in range(len(df_proveedores)):
    cursor.execute("INSERT INTO Proveedores (proveedor_id,nombre,direccion,ciudad,provincia) VALUES (?,?,?,?,?)",(int(df_proveedores.iloc[i]["codigo_proveedor"]),str(df_proveedores.iloc[i]["nombre"]),str(df_proveedores.iloc[i]["direccion"]),df_proveedores.iloc[i]["ciudad"],df_proveedores.iloc[i]["provincia"]))

In [99]:
connection.commit()

In [104]:
import pandas as pd

# Generar categorias
df_categorias = pd.DataFrame({
    "categoria_id": [2, 3, 4, 5, 6],
    "nombre": ["Mecánica", "Interiores", "Carrocería","Neumaticos","Accesorios"]
})

# Mostrar la tabla
print(df_categorias)

df_categorias.to_csv("categorias.csv", index=False)

   categoria_id      nombre
0             2    Mecánica
1             3  Interiores
2             4  Carrocería
3             5  Neumaticos
4             6  Accesorios

In [105]:
for i in range(len(df_categorias)):
    cursor.execute("INSERT INTO Categorias (categoria_id,nombre) VALUES (?,?)",(int(df_categorias.iloc[i]["categoria_id"]),df_categorias.iloc[i]["nombre"]))

In [106]:
connection.commit()

In [ ]:
# Faker en español
fake = Faker("es_ES")

# Generar piezas
colores = ["rojo", "azul", "verde", "negro", "blanco"]
categorias = [1, 2, 3, 4, 5, 6]  # ID de categorías ya insertadas
nombres_piezas = [
    "Filtro de aceite", "Amortiguador", "Radiador", "Bujía", "Pastilla de freno",
    "Alternador", "Motor de arranque", "Batería", "Disco de freno", "Inyector",
    "Caja de cambios", "Escape", "Compresor", "Espejo retrovisor", "Ventilador", 
    "Faros delanteros", "Asientos", "Embrague", "Volante","Neumáticos de invierno","Neumaticos de verano"
    "Neumatico de 4 estaciones","Alfombrillas","Espejos","Parabrisas","Luces de freno"]

# Generar piezas
piezas = []
for i in range(100):
    piezas.append({
        "codigo_pieza": fake.random_int(min=100, max=1000),
        "nombre": random.choice(nombres_piezas),
        "color": random.choice(colores),
        "precio": round(random.uniform(10, 500), 2),
        "categoria_id": random.choice(categorias)
    })
df_piezas = pd.DataFrame(piezas)

print(df_piezas.head())

df_piezas.to_csv("./archivos_csv/piezas.csv", index=False)

   codigo_pieza             nombre  color  precio  categoria_id
0           259   Faros delanteros  negro  413.37             5
1           537  Motor de arranque  negro  285.61             3
2           578           Radiador   azul  429.48             6
3           539     Luces de freno  verde  223.41             4
4           287           Embrague  verde  128.30             2

In [132]:
for i in range(len(df_piezas.loc[df_piezas["codigo_pieza"].duplicated()])):
    df_piezas.loc[df_piezas["codigo_pieza"].duplicated(),"codigo_pieza"] = df_piezas["codigo_pieza"].max() + (i+1)

In [146]:
df_piezas.loc[df_piezas["codigo_pieza"].duplicated()]

Empty DataFrame
Columns: [codigo_pieza, nombre, color, precio, categoria_id]
Index: []

In [152]:
for i in range(len(df_piezas)):
    cursor.execute("INSERT INTO Piezas (pieza_id,nombre,color,precio,categoria_id) VALUES (?,?,?,?,?)", (int(df_piezas.iloc[i]["codigo_pieza"]), df_piezas.iloc[i]["nombre"], df_piezas.iloc[i]["color"],df_piezas.iloc[i]["precio"],int(df_piezas.iloc[i]["categoria_id"])))
    connection.commit()

In [ ]:

fake = Faker("es_ES")

# Generar pedidos
num_pedidos = 200
pedidos = []

for _ in range(num_pedidos):
    pedidos.append({
        "proveedor_id": fake.random_int(min=1000, max=9999),
        "pieza_id": fake.random_int(min=100, max=1000),
        "cantidad": random.randint(1, 10),
        "fecha": fake.date_between(start_date='-1y', end_date='today').isoformat()
    })

df_pedidos = pd.DataFrame(pedidos)

print(df_pedidos.head())

df_pedidos.to_csv("./archivos_csv/pedidos.csv", index=False)

   proveedor_id  pieza_id  cantidad       fecha
0          3392       424         1  2024-07-06
1          5774       178         1  2025-02-14
2          2831       311         3  2025-01-06
3          3386       876         7  2024-09-17
4          3558       237         7  2024-11-17

In [157]:
for i in range(len(df_pedidos)):
    cursor.execute("INSERT INTO Pedidos (proveedor_id,pieza_id,cantidad,fecha) VALUES (?,?,?,?)", (int(df_pedidos.iloc[i]["proveedor_id"]), int(df_pedidos.iloc[i]["pieza_id"]), int(df_pedidos.iloc[i]["cantidad"]), df_pedidos.iloc[i]["fecha"]))
    connection.commit()

In [158]:
cursor.close()